[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
cloudinary = "*"
django-rest-framework = "*"
django-heroku = "*"
gunicorn = "*"
python-decouple = "*"
django-crispy-forms = "*"
l = "*"
psycopg2 = "*"
django-bootstrap4 = "*"

[dev-packages]

[requires]
python_version = "3.10"
